:root {
  
  /* doctorbread */
  --dbBlue: #4070ff;
  --dbRed: #ff0080;
  
  /* ocs */
  --ocsBlu: #6252ba;
  --ocsBluA: #6252ba40;
  
  /* https://lospec.com/palette-list/pixel-ink */
  --piBlack: #3e232c;
  --piWhite: #edf6d6;
  
}